# K-MCI
### Intro
In this notebook we have the main algorithm of the article. All necessary functions are implemented in function.py file.<br>
This document have blow sections:<br>
1. Importing Libraries & classes
2. Reading datasets
3. Preprocessing datasets
4. Main Algorithm

### Importing Libraries & classes
We import some libraries from third party.

In [1]:
import datasets
import pandas as pd
import numpy as np

In [21]:
# Importing libraries
import random
    
# defnition of Candidate class
class Candidate:    
    def __init__(self,clusters,sampling_interval, variation_count,fitness=-1):
        self.clusters = clusters
        self.sampling_interval = sampling_interval 
        self.variation_count = variation_count
        self.random_number
        self.fitness = fitness
        self.centers = None
        
    def random_number(self):
        self.random_number = random.random()
        
    def describe(self):
        print("Candidate with #{} clusters, sampling_interval={}, variation_count={}, #{} centers, fitness={}\n clusters{} \n Centers:{}"
              .format(len(self.clusters),self.sampling_interval,self.variation_count,len(self.centers),self.fitness,self.clusters,self.centers))

### Reading Datasets and Preprocessing
We show the structure of our data for all of datasets.<br>
We have these datasets from UCI Machine Learning Repository:
1. Breast Cancer Wisconsin
2. Contraceptive Method Choice data
3. Glass
4. Iris
5. Vowel
6. Wine

In [36]:
""" In this cell we have some code which will do preprocessing for us on all datasets """
""" the resourses of these datasets are mentioned in README.md file. """

# importing necessary libraries
import numpy as np
import pandas as pd


path = 'datasets/' 
# because we are using local files, you need to download datasets and change the "path" variable
# local folder of your downloaded datasets


def bcw(): 
    # importing dataset
    dataset = pd.read_csv(path+'bcw.csv',
                          names = ['Sample code number','Clump Thickness','Uniformity of Cell Size',
                                   'Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial',
                                   'Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class'])
    dataset= dataset.replace(to_replace='?',value=np.nan)
    dataset = dataset.dropna(axis =0) # resolving missing values
    dataset = dataset.astype('int64') # casting string valued column to int64
    x = dataset.iloc[:,:-1].values # features
    y = dataset.iloc[:,-1].values # target values
    return (x,y,dataset)


def cmc():
    # importing dataset
    dataset = pd.read_csv(path+'cmc.csv', names=["Wife's age","Wife's education","Husband's education",
                                                 "Number of children ever born","Wife's religion",
                                                 "Wife's now working?","Husband's occupation",
                                                 "Standard-of-living index","Media exposure","Contraceptive method used"])
    x = dataset.iloc[:,:-1].values # features
    y = dataset.iloc[:,-1].values # target values
    return (x,y,dataset)


def glass():
    # importing dataset
    dataset = pd.read_csv(path+'glass.csv', names= ['Id','refractive index','Sodium','Magnesium','Aluminum','Silicon','Potassium'
                                                    ,'Calcium','Barium','Iron','glass'])
    x = dataset.iloc[:,1:10].values # features
    y = dataset.iloc[:,-1].values # target values
    return (x,y,dataset)


def iris():
    # importing dataset
    dataset = pd.read_csv(path+'iris.csv', names= ['sepal length','sepal width','petal length','petal width','class'])
    x = dataset.iloc[:,:-1].values # features
    y = dataset.iloc[:,-1].values # target values
    
    # encoding categorial data types to labelEncoder
    from sklearn.preprocessing import LabelEncoder
    labelencoder_y = LabelEncoder()
    labelencoder_y = labelencoder_y.fit(y)
    y = labelencoder_y.transform(y)  # 0 for 'Iris-setosa', 1 for 'Iris-versicolor', 2 for 'Iris-virginica'
    return (x,y,dataset)


def vowel():
    # importing dataset
    dataset = pd.read_csv(path+'vowel.csv', names= ['vowel','type 1 frq','type 2 frq','type 3 frq'])
    x = dataset.iloc[:,1:].values # features
    y = dataset.iloc[:,0].values # target values
    return (x,y,dataset)

def wine():
    # importing dataset
    dataset = pd.read_csv(path+'wine.csv', names= ['class','Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols','Flavanoids','Nonflavanoid phenols','Proanthocyanins','Color intensity','Hue','OD280/OD315','Proline'])
    x = dataset.iloc[:,1:].values # features
    y = dataset.iloc[:,0].values # target values
    return (x,y,dataset)

In [37]:
# Getting data from our preprocessing class Datasets
x_bcw, y_bcw, df_bcw = bcw()
x_cmc, y_cmc, df_cmc = cmc()
x_glass, y_glass, df_glass = glass()
x_iris, y_iris, df_iris = iris()
x_vowel, y_vowel, df_vowel = vowel()
x_wine, y_wine, df_wine = wine()

In [24]:
# Showing dataset of Breast Cancer Wisconsin
df_bcw.head(3)

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2

In [25]:
# Showing dataset of Contraceptive Method Choice data
df_cmc.head(3)

,Wife's age,Wife's education,Husband's education,Number of children ever born,Wife's religion,Wife's now working?,Husband's occupation,Standard-of-living index,Media exposure,Contraceptive method used
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1

In [40]:
# Showing dataset of Glass
df_glass.head(3)

,Id,refractive index,Sodium,Magnesium,Aluminum,Silicon,Potassium,Calcium,Barium,Iron,glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1

In [8]:
# Showing dataset of Iris
df_iris.head(3)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [9]:
# Showing dataset of Vowel
df_vowel.head(3)

   vowel  type 1 frq  type 2 frq  type 3 frq
0      1         700        1500        2600
1      1         550        1550        2400
2      1         700        1500        2600

In [10]:
# Showing dataset of Wine
df_wine.head(3)

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185

# Main Algorithm 
## Some proccesing on dataset that we implement as functions

**Extra details will be explain in other next sections**

First we create objects with random centers in interval which that will selects from dataset <br>

For example in wine we have 13 features and if we need 3 clusters then our interval will be 3x13

In [13]:
candidate_array = []
for c in range(0,5):
    candidate_array.append(Candidate(random.sample(list(wine()[0]),3),np.array(random.sample(list(wine()[0]),3)),15,-1)) 
    

print(candidate_array[0].sampling_interval[0][10])

0.86

## Sampling Interval
this function use for making sampling_interval

In [18]:
def sampling_interval(input_array):
    Maxes = np.amax(input_array,axis=0)
    Mins  = np.amin(input_array,axis=0)
    return (Maxes,Mins)

Sampling_interval = sampling_interval(wine()[0])
print(Sampling_interval)

(array([1.483e+01, 5.800e+00, 3.230e+00, 3.000e+01, 1.620e+02, 3.880e+00,
       5.080e+00, 6.600e-01, 3.580e+00, 1.300e+01, 1.710e+00, 4.000e+00,
       1.680e+03]), array([1.103e+01, 7.400e-01, 1.360e+00, 1.060e+01, 7.000e+01, 9.800e-01,
       3.400e-01, 1.300e-01, 4.100e-01, 1.280e+00, 4.800e-01, 1.270e+00,
       2.780e+02]))

## K-means Algorithm 
this function fitting k-means algorithm on dataset

In [34]:
from sklearn.cluster import KMeans

def doKmeans(x,clusters_count,init_centers):
    kmeans = KMeans(n_clusters = clusters_count, init = init_centers, random_state = 0)
    y_predict_kmeans = kmeans.fit_predict(x)
    return (y_predict_kmeans,kmeans.cluster_centers_,kmeans.inertia_)
for c in range(0,5):
    candidate_array[c].sampling_interval = doKmeans(wine()[0],3,candidate_array[c].sampling_interval)[1]
    
print(candidate_array[2].sampling_interval)

[[1.25985294e+01 2.45343137e+00 2.32186275e+00 2.06460784e+01
  9.36960784e+01 2.05362745e+00 1.64754902e+00 3.95980392e-01
  1.42509804e+00 4.67333332e+00 9.17843137e-01 2.39480392e+00
  5.21558824e+02]
 [1.33691837e+01 2.40000000e+00 2.39265306e+00 1.85142857e+01
  1.09081633e+02 2.44163265e+00 2.21367347e+00 3.25510204e-01
  1.70673469e+00 5.18836735e+00 9.59714286e-01 2.84795918e+00
  9.06346939e+02]
 [1.38507407e+01 1.77851852e+00 2.48777778e+00 1.69259259e+01
  1.05629630e+02 2.94148148e+00 3.13666667e+00 2.98888889e-01
  2.00703704e+00 6.27518519e+00 1.10296296e+00 3.00222222e+00
  1.30877778e+03]]

C:\Users\HaMeD\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:896: RuntimeWarning: Explicit initial center position passed: performing only one init in k-means instead of n_init=10
  return_n_iter=True)

## Mutation algorithm 
this function do mutation algorithm on candidates interval's centers

In [ ]:
def mutation(candidate_array):
    Y = random.random()
    New_candidate = Mutant_candidate = Trial_candidate = candidate_array 
    for x in range(len(candidate_array)):
        a = np.full(len(candidate_array), 1/(len(candidate_array)-1))
        a[x] = 0
        temp = np.random.choice(len(candidate_array), 3, replace = False, p=a)
        for i in range(len(candidate_array[0].sampling_interval)):
            for j in range(len(candidate_array[0].sampling_interval[0])):
                Mutant_candidate[x].sampling_interval[i][j] = candidate_array[temp[0]].sampling_interval[i][j]+ random.random()*(candidate_array[temp[1]].sampling_interval[i][j] - candidate_array[temp[2]].sampling_interval[i][j])
                if random.random() < Y:
                    Trial_candidate[x].sampling_interval[i][j] = Mutant_candidate[x].sampling_interval[i][j] #Trial & Mutant must be copy of same candidate
        if fitness(candidate_array[x]) > fitness(Trial_candidate[x]):
            New_candidate[x] = Trial_candidate[x]
    return New_candidate